<div class="todo">
    <input type="checkbox" @bind="Done" /> @* use bind= rather than checked= to activate 2-way data binding*@
    <span class="@textClass">@Text</span>
</div>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public bool Done { get; set; }

    string textClass => Done ? "done" : null;
}
